[Unit]
Description=A rule based proxy tunnel
After=network-online.target

[Service]
Type=simple
User=nobody
Group=nobody
ExecStartPre=+/opt/script/setup-clash-tun.sh
ExecStopPost=+/opt/script/clean-clash-tun.sh
ExecStart=/usr/bin/clash -d /srv/clash

[Install]
WantedBy=multi-user.target
